Repository finopsfoundation/framework, pull requests merged in 2021-09, with the labels that each got.

#234 initial pass on vendor certification page
  _data/navigation_footer.yml
  _redirects
  img/certs/FCP.png
  img/certs/fcsp.png
  img/certs/finops-certified-platform.png
  img/certs/finops-certified-platform_white.png
  img/certs/finops-certified-service-provider.png
  img/certs/finops-certified-service-provider_white.png
  img/certs/finops-certified-solution.png
  img/certs/finops-certified-solution_white.png
  img/certs/finops-certified-training-partner.png
  img/certs/finops-certified-training-partner_white.png
  img/certs/ftp.png
  members/vendor-certification.md
  training-certification/vendor-certification.md
Labels: vendor, certification

#239 create new "FinOps Terminology" page under the "Resources" section
  _data/navigation_side.yml
  resources/terminology.md
Labels: documentation, enhancement, f2-fodo

#250 [fodo] update vendor member page for Yotascale to add "Certified Platform"
  _vendor-members/yotascale.md
Labels: vendor, certification, f2-fodo

#252 update terminology page to add new cost management terms
  resources/terminology.md
Labels: documentation, enhancement, wg-project, f2-fodo

#254 update multi-cloud WG project page
  projects/multi-cloud-tools-and-terminology.md
Labels: documentation, wg-project, f2-fodo

#257 [framework] create new Capability pages
  framework/capabilities.md
  framework/capabilities/fc-budget-modeling.md
  framework/capabilities/fc-commitment-based-discounts.md
  framework/capabilities/fc-cost-allocation-metadata-and-hierarchy.md
  framework/capabilities/fc-data-normalization.md
  framework/capabilities/fc-data-visualization-and-showback.md
  framework/capabilities/fc-forecasting.md
  framework/capabilities/fc-it-asset-management.md
  framework/capabilities/fc-manage-anomalies.md
  framework/capabilities/fc-manage-shared-cost.md
  framework/capabilities/fc-resource-utilization-and-rightsizing.md
  framework/capabilities/fc-unit-cconomics.md
  framework/capabilities/fc-workload-management-and-automation.md
Labels: documentation, enhancement, f2-framework

#263 [framework] capability update for forecasting
  _stories/cloud-forecasting-insights-chevron.md
  _stories/cloud-forecasting-insights-freewheel.md
  _stories/cloud-forecasting-insights-hulu.md
  framework/capabilities/fc-budget-modeling.md
  framework/capabilities/fc-commitment-based-discounts.md
  framework/capabilities/fc-cost-allocation-metadata-and-hierarchy.md
  framework/capabilities/fc-data-normalization.md
  framework/capabilities/fc-data-visualization-and-showback.md
  framework/capabilities/fc-forecasting.md
  framework/capabilities/fc-it-asset-management.md
  framework/capabilities/fc-manage-anomalies.md
  framework/capabilities/fc-manage-shared-cost.md
  framework/capabilities/fc-resource-utilization-and-rightsizing.md
  framework/capabilities/fc-unit-cconomics.md
  framework/capabilities/fc-workload-management-and-automation.md
Labels: documentation, enhancement, f2-framework

#265 [framework] update metadata attributes for capabilities and stories
  _stories/anomaly-detection.md
  _stories/avoid-and-simplify.md
  _stories/cloud-forecasting-insights-chevron.md
  _stories/cloud-forecasting-insights-freewheel.md
  _stories/cloud-forecasting-insights-hulu.md
  _stories/fair-cost-allocation-in-a-shared-platform.md
  _stories/fear-of-commitment-and-pain-of-waiting.md
  _stories/influencing-factors-shared-costs.md
  _stories/migrating-15-million-lines-of-code-to-gcp.md
  _stories/one-way-to-put-it-all-together.md
  _stories/rate-optimization-options-gcp.md
  _stories/setting-goals-for-optimize.md
  _stories/story-about-autoscaling.md
  _stories/what-spotify-learned-at-a-massive-FinOps-scale.md
  _stories/when-do-cloud-savings-kick-in.md
  _stories/why-finops-still-has-a-long-way-to-go-in-hong-kong.md
  framework/capabilities/fc-budget-modeling.md
  framework/capabilities/fc-commitment-based-discounts.md
  framework/capabilities/fc-cost-allocation-metadata-and-hierarchy.md
  framework/capabilities/fc-data-normalization.md
  framework/capabilities/fc-data-visualization-and-showback.md
  framework/capabilities/fc-forecasting.md
  framework/capabilities/fc-it-asset-management.md
  framework/capabilities/fc-manage-anomalies.md
  framework/capabilities/fc-manage-shared-cost.md
  framework/capabilities/fc-resource-utilization-and-rightsizing.md
  framework/capabilities/fc-unit-cconomics.md
  framework/capabilities/fc-workload-management-and-automation.md
Labels: documentation, enhancement, f2-framework

#290 [framework] add Domain loop x-ref to remaining Capabilities
  _capabilities/_template.md
  _capabilities/analysis-showback.md
  _capabilities/asset-management.md
  _capabilities/budget-management.md
  _capabilities/chargeback.md
  _capabilities/cost-allocation.md
  _capabilities/data-normalization.md
  _capabilities/establish-finops-culture.md
  _capabilities/forecasting.md
  _capabilities/manage-anomalies.md
  _capabilities/manage-commitment-based-discounts.md
  _capabilities/manage-shared-cloud-costs.md
  _capabilities/measure-efficiency.md
  _capabilities/measure-unit-costs.md
  _capabilities/utilization-rightsizing.md
  _capabilities/workload-management-automation.md
Labels: documentation, enhancement, f2-framework, framework-capability, framework-domain
