Repository finopsfoundation/framework, pull requests merged in 2021-08, with the labels that each got.

#196 Update allocate.md
  framework/domains/allocate.md
Labels: documentation, f2-framework

#219 [project] create multi-cloud tools and terms project page
  _data/navigation_side.yml
  projects/multi-cloud-tools-and-terminology.md
Labels: documentation, wg-project

#227 Updated replex.md to add certification label
  _vendor-members/replex.md
Labels: vendor
