Repository finopsfoundation/framework, pull requests merged in 2022-08, with the labels that each got.

#657 Lots of reformatting and typo fixes
  _resources/project--finops-assessment.md
Labels: bug/typo, documentation, framework-playbook

#663 metadata update for resource/project pages
  _resources/story--container-cost-allocation.md
  _resources/story--unit-economics-government-pov.md
  _resources/story--unit-economics.md
Labels: f2-framework, framework-story, f2 team

#668 [framework ] updates for framework capability resources and projects content
  _includes/resources-loop.md
  _includes/story-loop.md
  _resources/project--adopting-finops-avoiding-pitfalls.md
  _resources/project--adopting-finops-guide.md
  _resources/project--container-cost-allocation.md
  _resources/project--forecasting.md
  _resources/project--shared-costs.md
  _resources/project--unit-economics.md
  _resources/story--adopting-finops-avoiding-pitfalls.md
  _resources/story--container-cost-allocation.md
  _resources/story--managing-data-efficiency-playbook.md
  _resources/story--unit-economics.md
  _resources/story--us-gov-playbook.md
Labels: enhancement, f2-framework, framework-capability, framework-story
